<a href="https://colab.research.google.com/github/Hassanrazag/python-basic/blob/main/Dictionary_and_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary & set

In [ ]:
# Dictionary are used to store data value in key:value pair.this , symbol is very important rule
info ={
   " name" : "Hassan",
   "cpga"  : 9.6,
   "marks" :[98,97,95],
   "age" : 35,
   "is_adult" : True,
   "marks" : 98.4,
   "Subject" : ["python","java", "C++"],
   "topices":("dictionary","set"),
   23 : "hassan", # key can be (interder or float value)
}

print(info) # this clear all type of data in python.(Dictionary) and also used list[] and tupil() symbol.
print(type(info))

{' name': 'Hassan', 'cpga': 9.6, 'marks': 98.4, 'age': 35, 'is_adult': True, 'Subject': ['python', 'java', 'C++'], 'topices': ('dictionary', 'set'), 23: 'hassan'}
<class 'dict'>

# Given value of key can be change ?

In [ ]:
info ={
   " name" : "Hassan",
   "cpga"  : 9.6,
   "marks" :[98,97,95],
   "age" : 35,
   "is_adult" : True,
   "marks" : 98.4
}
info["name"] = "muhammad saw"
print(info)

{' name': 'Hassan', 'cpga': 9.6, 'marks': 98.4, 'age': 35, 'is_adult': True, 'name': 'muhammad saw'}

# Null dictionary

In [ ]:
from ast import NodeVisitor
dict ={
   " name" : "Hassan",
   "cpga"  : 9.6,
   "marks" :[98,97,95],
   "age" : 35,
}
null_dict ={ }
null_dict["name"] = "Noor"# this formula used to add value.
print(null_dict)
print(type(null_dict))

{'name': 'Noor'}
<class 'dict'>

# Nested dictionary

In [ ]:
Student = {
    "name" : "Muhammad saw",
    "subjects" : {
        "pyh" :84,
        "chem" :77,
        "math" :90 ,
    }


}

print(Student)
print(Student["subjects"])
print(Student["subjects"]["pyh"])

{'name': 'Muhammad saw', 'subjects': {'pyh': 84, 'chem': 77, 'math': 90}}
{'pyh': 84, 'chem': 77, 'math': 90}
84

# Dictionary Methods

Type of dictionary method

In [ ]:
# my Dict. keys()  returns all key
# my Dict. Values() returns all value
# my Dict. items()  returns all (key, pairs as tuples)
# my get. ("key") returns all key  according to value
# my Dict.update(new Dict)
Student = {
    "name" : "Muhammad saw",
    "subjects" : {
        "pyh" :84,
        "chem" :77,
       "math" :90 ,
    }
}

print(Student .keys())
print(Student .values())
# if we see the nested key so used
print(list(Student .keys()))
# if we find length so used.
print(len(Student .keys()))

dict_keys(['name', 'subjects'])
dict_values(['Muhammad saw', {'pyh': 84, 'chem': 77, 'math': 90}])
['name', 'subjects']
2

In [ ]:
Student = {
    "name" : "Muhammad saw",
    "subjects" : {
        "urdu" :84,
        "PS" :65,
       "english" :90 ,
    }
}

print(Student.items()) # items show all key and value.
pairs=list(Student.items())
print(pairs[0])# this show parise of value

dict_items([('name', 'Muhammad saw'), ('subjects', {'urdu': 84, 'PS': 65, 'english': 90})])
('name', 'Muhammad saw')

## My Dict.update(new Dict)

## mean can be create new dictinory. used Dict.update

In [ ]:
Student = {
    "name" : "Muhammad saw",
    "subjects" : {
        "urdu" :84,
        "PS" :65,
       "english" :90 ,
    }
}
Student.update({"city" : "Faisalabad"})
print(Student)

{'name': 'Muhammad saw', 'subjects': {'urdu': 84, 'PS': 65, 'english': 90}, 'city': 'Faisalabad'}

# set is collection of the unordered items.Example

In [ ]:
collection = {1,2,3,4, "hassan", "hellow"}
print(collection)
print(len(collection))
print(type(collection))


collection = {1,2,2,4, "hassan","hassan"} # in set doublecation of value is ignore
print(collection)
print(len(collection))# total number of items . dublicate value is emter i length

{1, 2, 3, 4, 'hassan', 'hellow'}
6
<class 'set'>
{1, 2, 'hassan', 4}
4

# Empty set program in dictionary

In [ ]:
collection = {}
print(collection) # this only empty dictinonary


collection = set()  #if used set in value then create empty set.
print(type(collection))

{}
<class 'set'>

#Commen used Set of Method

In [ ]:
# set.add(el) add an element
# set.remove(el) remove the elemen an
# set.clear() emties the set
# set.pop() remove a random value
# Very important Note.
# set is mutable but set of element is immutable

collection = set() # set consider only single value
collection.add(1)
collection.add(2)
collection.add((1,2,3))# this is tuple.
#collection.add([1,2,3]) # this is list and not run beacuse list with time change and new element add and remove
collection.add("friend college")
collection.remove(1)
print(collection)
print(len(collection))

{2, (1, 2, 3), 'friend college'}
3

In [ ]:
collection = set() # set consider only single value
collection.add(1)
collection.add(9)
collection.add((1,2,3))
collection .clear()  # this clear all vakue is zero...
print(len(collection))

0

In [ ]:
# set.pop() thin mothed randome value( koi be value)
collection = {"hello","apnacollege, world", "hassan", "python"}

print(collection.pop())
print(collection.pop())

hello
apnacollege, world

# Important  two set of method

#1.set.union(set2) combines both set value & returns. same Class 8,9 math union and intersection.

In [ ]:
set1 = {1,2,3}
set2  = {2,3,4}
print(set1.union(set2))
print(set1)

{1, 2, 3, 4}
{1, 2, 3}

# Exam 2.set. intersection(set) combines common  value & returns new.

In [ ]:
set1 = {1,2,3}
set2  = {2,3,4}
print(set1.intersection(set2))

{2, 3}

#   Now  practice

In [ ]:
dictionary = {
    "cat" : "a small animal",
    "table" : [ "a pice of furniture, list of facts &figures"]

}
print(dictionary)

{'cat': 'a small animal', 'table': ['a pice of furniture, list of facts &figures']}

Q You are list of subjects for students. assume one classroom is required for 1 subject. How many classrooms are needed by all students by all students
"python", "java" "c++","python","javascript"
"java", "pyton", "java","c++" "c"

In [2]:
subjects = {
    "python", "java", "c++","python","javascript","java", "pyton", "java","c++" ,"c"

}
print(subjects)
print(len(subjects)) # this can find length

{'javascript', 'java', 'pyton', 'c', 'python', 'c++'}
6

WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with an empty dictionary & add one by one. Use subject name as key & marks as value

In [4]:
marks = {}

x = int(input("Enter phy : "))
marks.update({"phy": x})
x = int(input("Enter math : "))
marks.update({"math": x})
x = int(input("Enter english : "))
marks.update({"english": x})

print(marks)

Enter phy : 88
Enter math : 90
Enter english : 89
{'phy': 88, 'math': 90, 'english': 89}

Figure a way to store 9 & 9.0 as separate value in the set.

In [14]:
values1 = {9,9.0}
values2= {9, "9.0"}
values3= {9,9.0}
print(values1)
print(values2)
print(values3)

{9}
{9, '9.0'}
{9}

In [16]:
values = {
    ("float", 9.0),
    ("int",9)
}
print(values)

{('float', 9.0), ('int', 9)}