<a href="https://colab.research.google.com/github/Hassanrazag/python-basic/blob/main/first_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Ai

## 1. Variables

In [ ]:
name= "Hassan"
age= 21
price= 12.00
print("My name is",name) # if you print the value of variable . you write name without ("")this symbal.
print("My age is ",age)
print(price)

My name is Hassan
My age is  21
12.0

In [ ]:
age_2=age # if used first variable the pergram is not execute exa.1age
print(age_2)

21

In [ ]:
name= "hassan" # string type.
age= 21        # integer type.
old=True       # Boolian type .
a= None        # None type mean a is not equal to given data.
price= 236.43  # float type.
print(type(name))# if used type in print function. then find what type of data.
print(type(age))
print(type(price))
print(type(old))
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
# strint can be write in singal,dabual and taripal form.like
name1='ali'
name2="ali"
name3='''ali'''
print(name1)
print(name2)
print(name3)

ali
ali
ali

# Write two number and the sum?

In [ ]:
a= 2034
b= 34
sum= a + b
print(sum)

2068

In [ ]:
a= 456
b= 356
diff= a - b
print(diff)

100

# Comments information.

In [ ]:
# comment can be write use of(#,''' ''',/* */.Multimals line kaliya //* *//.

Type of operators

# 1.Arithematic operators(+,-,/,%,*,** ,dabal * shown the square)

In [ ]:
a=10
b=5
print( a + b)
print( a - b)
print( a / b)
print( a * b)
print( a ** b)# a^b
print( a % b)#remainder

15
5
2.0
50
100000
0

# 2.Relational/ comparison operators( ==,!=,>,<,>=,<=)

In [ ]:
a = 50
b = 20
print(a == b)# relation operators alawys result in ture and false form
print(a != b)
print(a >= b)
print(a <= b)
print(a < b)
print(a > b)

False
True
True
False
False
True

# 3.Assignment operators( =,+=, *=, %=,**=)

In [ ]:
# (=) symbal is called Assignement.
num = 10
num = num + 10
print(num)

20

In [ ]:
num = 10
num +=10
print(num)

20

In [ ]:
num = 10
num *=10
print(num)

100

# 4. Logical operators(NOT,AND, OR)

In [ ]:
# Not operator is alawsy contain one value and if condition is true the anser is false
#Example.
print(not False)
print(not True)

True
False

In [ ]:
a=50
b=30
print(not False)
print(not (a >b))

True
False

In [ ]:
#  AND operators is contain two value. when both value true then anser be true,if false both then anser true and one true or one false anser is false.
# true T alawy write in uparcase.
#Exampal
var1=True
var2=True
print(" AND operator:",var1 and var2)

 AND operator: True

In [ ]:
#or operators contain two value if one value be true the anser be true.if one false and one true then anser true.
a=50
b=30
c=45
d=30
print( c > d or c > d)
print( a > b or a<b)
print("OR operator:", a==b or (a<b))

True
True
OR operator: False

# Type Conversion

In [ ]:

# conversion means convert int into float. i cannot convert string into falot value
# two type of conversion
#1 automatic ocnversion: mean data convert in float easy way
#Exam:
a=2
b=4.45
sum= a + b# easy way
print(sum)

6.45

In [ ]:
# second type is type casting
#in this type zabardasti integer convert into string using key words.
# connot name of thing convert in int,float.
a= int("2")# if int is not used error in program
b=4.25
sum= a + b# easy way
print(sum)

6.25

In [ ]:
a= 3.14
a=str(a)
print(type(a))
print(a)

<class 'str'>
3.14

In [ ]:
a=(int(input("Enter first number")))
b=(int(input("Enter second number")))
sum = a + b
print(type(sum))
print(sum)

Enter first number3
Enter second number3
<class 'int'>
6

# Write a program to input side of a square and print its area?

In [ ]:
side=int(input("Enter a square side"))
print("area =",side * side)

Enter a square side34
area = 1156

In [ ]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
print(a>= b)

Enter a number45
Enter a number44
True

# string and conditional statements

In [ ]:
# agr ham string ma once si zada sentence ko second line ma print kar wana chati ha tu ham ko escape sequence character ka used kar na hu ga
#Exap.
str1= "this is a string.\n we are creating it in python."
print(str1)

this is a string.
 we are creating it in python.

In [ ]:
# if used \t create sapace between two sentence.
str1= "this is a string.\t we are creating it in python."
print(str1)

this is a string.	 we are creating it in python.

# Basic operationof string

In [ ]:
#basic operation of string is two
#1. concatenation mean  two string ko jurdna.Exap "hassan"+"raza" anser is hassanraza.
#2. is length of string. can find length
str1= "Hassan"
print(len1)
str2= "akram"
print(len1 + len2)

NameError: name 'len1' is not defined

In [ ]:
#second type is length(str) means can find length of object Exampl hassan is variable and length is 6.
str1= "Hassan"
len1= len(str1)
str2= "akram"
len2= len(str2)
final_str =str1 + " " + str2
print(final_str)
print(len(final_str))

# what is Indexing? and what is used in string of variable?

In [ ]:
# indexing mean given value provaid the number .
#Exampl. hassan( the index in word hassan start 012345)shown 0 value of H in name of hassan in python.
str1 ="Hassan"
str2= "Raza"
print(len(str1 + " "+ str2))
str3 = " hassan raza"
print(str3[6])

# What is slicing? and  what is used  slicing in python?

In [ ]:

# slicing means Accessing parts of a string_at
# # formula. str[starting_idx:ending_idx]# inding idx is not included.
# str = "Hassan Raza"
# when used str[1:4] anser is ass
str = "hassan raza"
print(str[0:11])
print(str[:4])#[0:4] consider python same.
print(str[0:4])

# Negative index

In [ ]:
# Negative index mean if variable is hassan and oposit of hassan is nassah this index in - form like -1,-2,-3,-4,-5.( nassah)
str = "hassan"
print(str[-3:-1])# ending idx is not inclued.
print(str[::-1])

# String Functions

In [ ]:
# str = " lam a coder."
# 1. str.endswith("er.") if we chack the variable is end, put the end value of variable.Anser is true or false
# 2. str.capitalize() mean capitalize 1st char.
# 3. str.replace(old,new) replace all occurences(old value ko repace karna new value)
# 4.str.find(word) can find what number of same word iss ma ham aik word kainavi num pr ha malumkar sak ti ha
# 5.str.coun("am")count the string value of variable(iss ma aik word kaitni bar aya ha)
#Example 1.
str = "i am studying python from apnacollege"
print(str.endswith("ege"))
print(str.endswith("pyt"))

In [ ]:
#Example 2. first word ko capital kardinprint(str.endswith("ege"))
str = "I am studying python from apnacollege"
print(str.capitalize())
print(str)

In [ ]:
#Example 3.
str = "i am studying python from apnacollege"
print(str. replace("o", "a"))
print(str. replace("a", "o"))

In [ ]:
#Example 4.
str = "i am studying python from apnacollege"
print(str.find("python"))
print(str.find(""))

In [ ]:
#Example 5.

str = "i am from studying python from apnacollege"
print(str. count("from"))
print(str. count("a"))

# lets Practice

Write a program to input user first name and print its length

In [ ]:
#name=input("Enter  first number")
name="hassan"
abc= len(name)
print(abc)

# Write a program to find the occurrence of S in a string.

In [ ]:

# occurrence mean count. katni bar iya ha
str1= "pakistan is nice conturi ss"
print(str1.count("s"))
str1="hi, is the s symbol s"
print(str1.count("i"))

# Condition Statement

In [ ]:

# if-elif-else(syntax)
age = 18
if(age >=18):
  print("can vote & apply for licencse")#indentation mean proper sapece in start.
elif (age<= 18):
  print("can not vote & apply for licencse")

In [ ]:
marks = 81
if marks >= 90:
  grade=("A")
elif marks >=80 and marks <90:
  grade=("B")
elif marks >=70 and marks < 80 :
  grade=("C")
else:
  grade=("Fail")
print("Grade of the students_:", marks,grade)

#nesting

In [ ]:
#nesting
age= 18
if(age>= 18):
  if(age >= 80):
    print("cannot drive")
  else:
    print("can drive")
else:
  print("cannot drive")

In [ ]:
age= 79
if ( age >= 18):
  print("can drive")
else:
  print("cannot drive")
if ( age >= 80):
  print("not permition")
else :
  print("permition")

In [ ]:
age= 88
if ( age >= 18):
  print("can drive")
else:
  print("cannot drive")
if ( age >= 80):
  print("not permition")
else:
  print("permition")

In [ ]:
light ="green"

if(light=="red"):
  print("stop")
elif(light=="green"):
  print("go")
elif( light=="yellow"):
  print("look")
else :
  print("light is broken")# if colour is change then print else.

In [ ]:
a= 11
if(a==0):
  print("Even")
else:
  print("odd")

# Write a program to find greatest of 3 number entered by the user.

In [ ]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
if(a >=b and a >= c):
  print("first number is largest",a)
elif(b >= c):
  print("second number is largest",b)
else:
  print("third is largest",c)

WAP to check if anumber is a multiple of 7 or not.

In [ ]:
# x%7==0 is called multiple of 7
x=int(input("Enter number:"))
if(x % 7 == 0):
  print("multiple of 7")
else:
  print("not a multiple")

# what is lists & tuples

In [ ]:
# A built-in data type that stores set of value.
#it can store elements of different type(int,float,string,etc )Examp student = ["hassan,85",65.6] we can store in single lists.
# list mean many  variable write in horizontal line .Example
marks = [94.5,87.5,95.4, 66.9,45.1]
print(marks)
print(type(marks))
# list work same index mean can find ki ya katinavi number pr ha.
print(marks[0])
print(marks[1])
#  we can also be find length of list
print(len(marks))

# Different between String and list in python

In [ ]:
#string is immutable(mean after executing cannot change the variable)
#lists  is mutable(mean after executing can change the variable)
#Exaple 1 consider:
# a = "hello"
# print(a[0])
# a[0]= "y"is method ssi clera huta ha kai string ko koi or value dai kar change nahi kiya gasikta
student = ["hassan",76.8, 78, "faisalabad"]
print(student[0])
student[0]="ali"
print(student)# so clear lists can be  exeute and change variable.

# List Slicing

In [ ]:
#similar to String slicing.
# list_name[starting_idx:ending_idx] ending idx is not included
marks = [87,84,96,34,65]
print(marks[1:4])
print(marks[:4])
print(marks[1:])
print(marks[::-1])
print(marks[-3:-1])

# Lists Method

In [ ]:
# list=[3,,2,1]
1#list.append(4)add one element at end Anser is [3,2,1,4](append mean last ma add kar na)
2#list.sort() ascendung order mean chuti si badiki taraf jana [1,2,3]
3#list.(reverse=ture)sorts in descending order [3,2,1]( badi si chuta)
4#list.reverseslist [1,2,3]
5#list.insert(idx,el)
6#list.remove(1)
7#list.pop(idx)mean particular point pr jakar number ko change kar.
#Exam 1
list = [3,2,1]
list.append(4)
print(list)

In [ ]:
#Example
list1 =[3,4,2,1]
list2=["a","g","b","d","c"]
print(list1.sort())
print(list2.sort())
print(list1)
print(list2)

None
None
[1, 2, 3, 4]
['a', 'b', 'c', 'd', 'g']

In [ ]:
list1 = ["banana","apple", "goat","cat"]
print(list1.sort())
print(list1)

None
['apple', 'banana', 'cat', 'goat']

In [ ]:
list = ["banana","apple", "goat","cat"]
print(list.sort(reverse=True))
print(list)

None
['goat', 'cat', 'banana', 'apple']

In [ ]:
4#list.reverseslist
list = ['a','b','c','d','e','f']
list.reverse()
print(list)

['f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
5#list.insert(idx,el) mean sepaicfic point ma change kar na (idx) mean kasi number ko change kar na ha(ei)mean kasi element ko put kar na ha change ki jaga.
list = [3,5,7,]
list.insert(2,4)
print(list)

[3, 5, 4, 7]

In [ ]:
6#list.remove(1) # i googal colab jasi number ko be change kar na ha iss ko write ka di
list = [8,2,1,8]
list.remove(1)
print(list)

[8, 2, 8]

In [ ]:
7#list.pop(idx)mean particular point pr jakar number ko change kar
list = [8,2,1,8]#(0123)
list.pop(0)# pop ma first number(0)si start huta ha
list.pop(1)
print(list)

[2, 8]

# Tuples in python

In [ ]:
# A built in data type that lets us create immutable(means cannot change value)sequence value
# in tuple used barcket ().
tup =(4,5,2,7,1)
print(tup[0])
print(tup[1])
print(type(tup))
print(tup[1:3])
print(tup[-4:-1])

tup =() # impati mean zero data.
print( tup)
print(type(tup))

#singal element ko ham comam(.) kai satha saparat kari gai.
tup = (1,)# is good mothed crate single tuple
print( tup)
print(type(tup))

4
5
<class 'tuple'>
(5, 2)
(5, 2, 7)
()
<class 'tuple'>
(1,)
<class 'tuple'>

# Tuple Mothped

In [ ]:
# two mothed of  tuple Example .[6,2,3,3,4,5] this value indx is [0,1,2,3,4,5]
1#. tup.idx mean( iss ma element ka idx find kai ya jaya ha)
2#. tup. count mean(iss ka matlab ya hi kai tuple kaitni bara aya ha)
tup =(4,5,2,7,1)
print(tup.index(7))

tup = (3,3,3,4,5,2,6,7,4)
print(tup.count(4))# 4 is element

3
2

In [ ]:
a = input("Enter first movies")
b = input("Enter second movies")
c = input("Enter third movies")
list =[a, b ,c]
print(list)

Enter first movies3 idioat
Enter second moviespakistan zanda bad
Enter third moviespunjab nai gaio gi
['3 idioat', 'pakistan zanda bad', 'punjab nai gaio gi']

In [ ]:
b

In [ ]:
movies = []
mov1 = input("Enter first movie ")
mov2 = input("Enter second movie ")
mov3 = input("Enter third movie ")
list.append(mov1)
list.append(mov2)
list.append(mov3)

Enter first movie 804
Enter second movie punjab
Enter third movie titanic

In [ ]:
from __future__ import print_function
# Palidram mean agai pichia si same hu mean(opposit(reverse) karni pr bi word same hu)
#12321 agr ham is ko change kar tu jawab 12321 same hi huga.
# cope() in list mean given varible cerate doubletion.
list1 = [1,2,1]
copy_list1 =list1.copy()
copy_list1.reverse()
if (copy_list1==list1):
  print("palindrom")
else:
  print("not palindrom")

palindrom

In [ ]:
list2 = [1,2,3]


copy_list2 =list1.copy()
copy_list2.reverse()
if (copy_list2==list2):
  print("palindrom")
else:
  print("not palindrom")

not palindrom

In [ ]:
list2 = ["m","a","a","m"]
copy_list2 =list1.copy()
copy_list2.reverse()
if (copy_list2==list2):
  print("palindrom")
else:
  print("not palindrom")

not palindrom

WAP to count number of student with the "A" grade in the following tuple
["c","d","a","a'","b","b","a"]

In [ ]:
   grade = ("c","d","a","a","b","b","a")
   print(grade.count("a"))

3

In [ ]:
a= ("hassan", "ali", "Ahamd")
print(a.count("hassan"))

1